body {
  margin: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  height: 500px;
  background-color: #fff;
  border: 2px solid #444;
  position: relative;
}

.items {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  user-select: none;
  cursor: grab;
}
